
@{
    ViewData["Title"] = "Application Permissions";
}

<h1>@ViewData["Title"]</h1>

@(Html.Kendo().Grid<Permission>()
                .Name("user")
                .Columns(columns =>
                {
                    columns.Bound(r => r.PermissionId).Hidden(true);
                    columns.Bound(r => r.PermissionName);
                    columns.Bound(r => r.PermissionGroup);
                    columns.Bound(r => r.PermissionCode);
                    columns.Bound(r => r.Remarks);
                    columns.Command(command => { command.Edit(); }).Width(300);
                })
                .ToolBar(toolbar =>
                {
                    toolbar.Create().Text("Add Permission");
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .Pageable()
                .Sortable()
                .Scrollable()
                .Filterable()
                .HtmlAttributes(new { style = "height:550px;" })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .Events(events => events.Error("error_handler"))
                    .Model(model =>
                    {
                        model.Id(r => r.PermissionId);
                    })
                    .Create(update => update.Action("Create", "Permission"))
                    .Update(update => update.Action("Update", "Permission"))
                    .Read(read => read.Action("Read", "Permission"))
         ))

@section Scripts
{
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>
}



