@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password?";
    Layout = "../_Layout.cshtml";
}


<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card-group">
            <div class="card p-4">
                <div class="card-body">
                    <h2>Forgot Password</h2>
                    <p class="text-muted">Enter your Email Address</p>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-envelope"></i>
                                </span>
                            </div>
                            <input asp-for="Input.Email" class="form-control" type="text" placeholder="Email Address" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="row" style="margin-top:50px">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary px-4">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                    <div>
                        <h2>Wix Engineering PLCM</h2>
                        <p>Please enter your email address used to create the account. We will send you password reset email with link.</p>
                        <div style="margin-top:20px">
                            <h5>For Support Contact: <br />help@mann-hummel.com</h5>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>