@model Product
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div id="toolbar">

        <div class="demo-section k-content wide">
            @(Html.Kendo().ToolBar()
            .Name("ToolBar")
            .Items(items =>
            {
                items.Add().Type(CommandType.Spacer);
                items.Add().Type(CommandType.ButtonGroup).Buttons(buttons1 =>
                {
                    buttons1.Add().Text("First").Togglable(true).Icon("arrow-end-left");
                    buttons1.Add().Text("Previous").Togglable(true).Icon("arrow-60-left");
                    buttons1.Add().Text("Next").Togglable(true).Icon("arrow-60-right");
                    buttons1.Add().Text("Last").Togglable(true).Icon("arrow-end-right");

                });
                items.Add().Type(CommandType.Separator);
                items.Add().Type(CommandType.ButtonGroup).Buttons(buttons2 =>
                {

                    buttons2.Add().Text("Save").Togglable(true).Icon("save");
                    buttons2.Add().Text("Undo").Togglable(true).Icon("undo");
                    buttons2.Add().Text("Delete").Togglable(true).Icon("delete");
                });
                items.Add().Type(CommandType.Separator);
                items.Add().Type(CommandType.ButtonGroup).Buttons(btn3 =>
                {
                    btn3.Add().Text("List").Togglable(true).Icon("list-ordered");
                });
            })
            )
        </div>
    </div>

    <div id="header">
        <h4>Basic usage</h4>
    </div>

    <div id="details" style="height:100%">
        <form action="/" method="post">

            <kendo-tabstrip name="tabstrip">
                <popup-animation>
                    <open effects="fade:in" />
                </popup-animation>
                <items>
                    <tabstrip-item text="General" selected="true">
                        <content>
                            <div class="row">
                                <div class="col-sm-4 col-md-2">
                                    <form-entry asp-for="ProductName" />

                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <form-entry asp-for="UnitPrice" />

                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <form-entry asp-for="UnitsInStock" />
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <form-entry asp-for="UnitsOnOrder" />
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <form-entry asp-for="ReorderLevel" />
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <form-entry asp-for="QuantityPerUnit" />
                                </div>
                            </div>
                        </content>
                    </tabstrip-item>
                    <tabstrip-item text="Dropdowns">
                        <content>
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <span>Supplier </span>
                                        @(Html.Kendo().DropDownListFor(model => model.SupplierId)
                                            .DataTextField("CompanyName")
                                            .DataValueField("SupplierId")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetSuppliers_Dropdown", "Grid");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                        )

                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3 col-lg-2">
                                    <div class="form-group">
                                        <span>Category </span>
                                        @(Html.Kendo().DropDownListFor(model => model.CategoryId)
                                            .DataTextField("CategoryName")
                                            .DataValueField("CategoryId")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetCategories_Dropdown", "Grid");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                        )

                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3 col-lg-2">
                                    <div class="form-group">
                                        <span>Discontinued </span>
                                        @(Html.Kendo().SwitchFor(model => model.Discontinued)
                                         .Name("discontinued")
                                         .Messages(c => c.Checked("YES").Unchecked("NO"))
                                        )
                                    </div>
                                </div>
                                <div>
                                    
                                </div>

                            </div>
                        </content>
                    </tabstrip-item>
                    <tabstrip-item text="Other">
                        <content>
                            <div class="row">
                                <div class="col-sm-4 col-md-2">div1</div>
                                <div class="col-sm-4 col-md-2">div2</div>
                                <div class="col-sm-4 col-md-2">div3</div>
                                <div class="col-sm-4 col-md-2">div4</div>
                                <div class="col-sm-4 col-md-2">div5</div>
                                <div class="col-sm-4 col-md-2">div6</div>
                            </div>
                        </content>
                    </tabstrip-item>
                    <tabstrip-item text="Tasks">
                        <content>
                            <div class="row">
                                <div class="col-sm-4 col-md-2">div1</div>
                                <div class="col-sm-4 col-md-2">div2</div>
                                <div class="col-sm-4 col-md-2">div3</div>
                                <div class="col-sm-4 col-md-2">div4</div>
                                <div class="col-sm-4 col-md-2">div5</div>
                                <div class="col-sm-4 col-md-2">div6</div>
                            </div>
                        </content>
                    </tabstrip-item>
                </items>
            </kendo-tabstrip>

        </form>
    </div>

</div>



