@{
    ViewData["Title"] = "Grid List ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Using Telerik Controls</p>
</div>



<div class="demo-section k-content">
    <h4>Telerik Grid</h4>

    @(Html.Kendo().Grid<Product>()
        .Name("grdProducts")
        .Columns(columns =>
        {
            columns.Bound(c => c.ProductId);
            columns.Bound(c => c.ProductName);
            columns.Bound(c => c.QuantityPerUnit).Width(190);
            columns.Bound(c => c.UnitPrice);
        })
        .HtmlAttributes(new { style = "height:430px;" })
        .Sortable()
        .Scrollable()
        .Filterable()
        .ColumnMenu()
        .Resizable(rsb => rsb.Columns(true))
        .Reorderable(r => r.Columns(true))
        .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Read(read => read.Action("Products_Read", "Grid"))
        )
    )
</div>
@section Scripts
{
    <script>

    $(function () {
        var grid = $("#grdProducts").data("kendoGrid");

        $("#save").click(function (e) {
            e.preventDefault();
            localStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
        });

        $("#load").click(function (e) {
            e.preventDefault();
            var options = localStorage["kendo-grid-options"];
            if (options) {
                grid.setOptions(JSON.parse(options));
            }
        });
    });
    </script>
}