@using  Kendo.Mvc
@{
    ViewData["Title"] = "Home Page";
}



<div class="list-group" style="width:400px; margin-left:100px">
    <a href="#" class="list-group-item list-group-item-action active">
        Telerik Control Grid Usage
    </a>
    <a asp-controller="Grid" asp-action="GridList" target="_blank">Grid List </a>
    <a asp-controller="Grid" asp-action="GridEdit" target="_blank">Pop up Edit </a>
    <a asp-controller="Grid" asp-action="Create" target="_blank">Create </a>
    <a asp-controller="Grid" asp-action="MasterDetail" target="_blank">Master Detail </a>
    <a asp-controller="Grid" asp-action="ParentChild" target="_blank">Parent Child </a>
    <a asp-controller="Grid" asp-action="UserBuiltQuery" target="_blank">User Built Queries </a>
</div>


