<nav class='sidebar-nav'>
    <ul class='nav'>
        <li class='nav-item'>
            <a class='nav-link' href='/Home/Index'>
                <i class='nav-icon icon-speedometer'></i>Dashboard  <span class="badge badge-primary">NEW</span>
            </a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='/colors'>
                <i class='nav-icon icon-drop'></i>Colors
            </a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='/typography'>
                <i class='nav-icon icon-pencil'></i>Typography
            </a>
        </li>

        <li class='nav-item nav-dropdown'>
            <a class='nav-link nav-dropdown-toggle' href='#'>
                <i class='nav-icon icon-puzzle'></i> Parent
            </a>
            <ul class='nav-dropdown-items'>
                <li class='nav-item'>
                    <a class='nav-link' href='/base/breadcrumbs'>
                        <i class='nav-icon icon-puzzle'></i>Child1
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/base/cards'>
                        <i class='nav-icon icon-puzzle'></i>Child2
                    </a>
                </li>

            </ul>
        </li>
    </ul>
</nav>