<nav class='sidebar-nav'>
    <ul class='nav'>
        <li class='nav-item'>
            <a class='nav-link' href='/Home/Index'>
                <i class='nav-icon icon-speedometer'></i>Dashboard  
                <span class=\'badge badge-primary\'>NEW
            </a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='/Engineering/PE'>
                <i class='fa fa-compass'></i>Product Explorer
            </a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='/Northwind/Grid/Index'>
                <i class='nav-icon icon-pencil'></i>Grid Samples
            </a>
        </li>

        <li class='nav-item nav-dropdown'>
            <a class='nav-link nav-dropdown-toggle' href='#'>
                <i class='nav-icon icon-lock-open'></i> Administration
            </a>
            <ul class='nav-dropdown-items'>
                <li class='nav-item'>
                    <a class='nav-link' href='/Admin/IdentityUser/Index'>
                        <i class='nav-icon icon-user'></i>Users
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/Admin/Role/Index'>
                        <i class='nav-icon icon-puzzle'></i>Roles
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/Admin/Permission/Index'>
                        <i class='nav-icon icon-puzzle'></i>Permissions
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/Admin/UserInRoles/Index'>
                        <i class='nav-icon icon-puzzle'></i>UserInRoles
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/Admin/RolePermisssions/Index'>
                        <i class='nav-icon icon-puzzle'></i>Role Permissions
                    </a>
                </li>
            </ul>
        </li>

        <li class='nav-item nav-dropdown'>
            <a class='nav-link nav-dropdown-toggle' href='#'>
                <i class='nav-icon icon-cursor'></i> C I C
            </a>
            <ul class='nav-dropdown-items'>
                <li class='nav-item'>
                    <a class='nav-link' href='/Admin/Buttons'>
                        <i class='nav-icon icon-cursor'></i>Buttons
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/Admin/ButtonGroup'>
                        <i class='nav-icon icon-cursor'></i>Buttons Group
                    </a>
                </li>
            </ul>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='/CoreUI'>
                <i class='nav-icon icon-star'></i>New Additions
            </a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='/NACO/List'>
                <i class='badge badge-success'></i>List
            </a>
        </li>

    </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>