<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="index">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="colors">
                <i class="fa fa-compass"></i> Product Explorer
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Northwind" asp-controller="Grid" asp-action="Index" asp-route-view="typography">
                <i class="nav-icon icon-pencil"></i> Grid Samples
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-lock-open"></i> Administration
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="IdentityUser" asp-action="Index">
                        <i class="nav-icon icon-user">

                        </i> Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">
                        <i class="nav-icon icon-puzzle"></i> Roles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Permission" asp-action="Index">
                        <i class="nav-icon icon-puzzle"></i> Permissions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="UserInRoles" asp-action="Index">
                        <i class="nav-icon icon-puzzle"></i> User-Roles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="RolePermissions" asp-action="Index">
                        <i class="nav-icon icon-puzzle"></i> Role-Permissions
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> C I C
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-buttons">
                        <i class="nav-icon icon-cursor"></i> Buttons
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-button-group">
                        <i class="nav-icon icon-cursor"></i> Buttons Group
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-dropdowns">
                        <i class="nav-icon icon-cursor"></i> Dropdowns
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-brand-buttons">
                        <i class="nav-icon icon-cursor"></i> Brand Buttons
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-star"> </i> New Additions
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-coreui-icons">
                        <i class="nav-icon icon-star"></i> CoreUI Icons
                        <span class="badge badge-success">NEW</span>
                    </a>
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-flags">
                        <i class="nav-icon icon-star"></i> Flags
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-font-awesome">
                        <i class="nav-icon icon-star"></i> Font Awesome
                        <span class="badge badge-secondary">4.7</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-simple-line-icons">
                        <i class="nav-icon icon-star"></i> Simple Line Icons
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-chemistry"></i> Test Labs
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="notifications-alerts">
                        <i class="nav-icon icon-bell"></i> Filter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="notifications-badge">
                        <i class="nav-icon icon-bell"></i> Material
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="notifications-modals">
                        <i class="nav-icon icon-bell"></i> Modals
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-star"></i> Pages
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="login" target="_top">
                        <i class="nav-icon icon-star"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="register" target="_top">
                        <i class="nav-icon icon-star"></i> Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="404" target="_top">
                        <i class="nav-icon icon-star"></i> Error 404
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="500" target="_top">
                        <i class="nav-icon icon-star"></i> Error 500
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="charts">
                <i class="nav-icon icon-pie-chart"></i> Charts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="widgets">
                <i class="nav-icon icon-calculator"></i> Widgets
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
    </ul>
</nav>
